body {
  font-family: Arial;
  background: #0b1f3a;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.card {
  background: #142c4f;
  padding: 20px;
  border-radius: 12px;
  width: 320px;
  text-align: center;
}

input {
  width: 90%;
  padding: 10px;
  margin: 8px;
  border-radius: 6px;
  border: none;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  background: #1e90ff;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.step {
  text-align: left;
  margin: 8px 0;
}

.done {
  color: #00ff9c;
}

.pending {
  color: #aaa;
}
